.o-button {
    padding: 10px 20px;
    background: $color-green;
    font-size: 16px;
    font-weight: 800;
    box-shadow: inset 0 -3px 0 rgba(57, 57, 57, .15),
    3px 3px 5px rgba(0, 0, 0, .2);
    border: none;
    color: #292F36;
    outline: none;
    cursor: pointer;

    &--rounded {
        border-radius: 50%;
    }
}