.o-table--bordered {
  width: 100%;
  border: 1px solid #dee2e6;
    border-collapse:collapse;
  th,
  td {
    border: 1px solid #dee2e6;
  }

  thead {
    th,
    td {
      border-bottom: 2px solid #dee2e6;
    }
  }

}
