html {
  font-size: ($font-size-base / 16px) * 1em;
  line-height: $line-height-base;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  font-family: "Monsterrat",
  'Avenir',
  Helvetica,
  Arial,
  sans-serif;
  background-color: $body-background;
  color: $text-color;
}

ul {
  list-style-type: none;
}