.c-cart {
  display: flex;
  background: none;
  padding: 12px;
  position: relative;
  background: $color-white;
  box-shadow: inset 0 -3px 0 rgba(57, 57, 57, .15),
    3px 3px 5px rgba(0, 0, 0, .2);

}

.c-cart__icon {
  width: 22px;
}

.c-cart__badge {
  position: absolute;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  background: $color-red;
  color: $color-white;
  width: 16px;
  height: 16px;
  right: 4px;
  top: 4px;
}

.c-item {
  display: flex;
  padding: 5px 10px;
}

.c-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.c-item__name {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-item__price {
  font-size: 15px;
  font-weight: 800;
}

.c-item__subtotal {
  font-weight: 500;
  font-size: 22px;
  text-align: center;

  &::after {
    content: ' đ'
  }
}

.c-cart-modal {
  padding: 10px;
}

.c-item__delete {
  width: 40px;
  fill: $color-red;
  padding: 0 12px;

  >svg {
    cursor: pointer;
    display: flex;
  }
}

.c-cart-modal__btn {
  display: block;
  text-align: center;
  background: $color-green;
  color: $color-white;
  padding: 8px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.c-cart-modal__total {
  position: absolute;
  right: 10px;
  font-size: 18px;
  top: 10px;
  font-weight: 400;
}
