.c-hotgames {
    position: fixed;
    bottom: 0;
    background-color: $text-color;
    width: 100%;
    z-index: -1;
    display: block;
}
.c-hotgame {
    max-height: 236px;
    overflow: hidden;
    margin: 4px;
    cursor: pointer;

    &:hover {
        .c-hotgame__img {
            transform: scale(1.1);
        }
    }
}

.c-hotgame__img {
    width: 100%;
    display: block;
    transition: transform 0.4s ease-in;
}

.c-hotgames__title {
    color: #fff;
    background: $text-color;
    font-size: 20px;

    padding: 10px;
    font-weight: 600;
    text-shadow: 1px 1px 4px $text-color;
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
}