.c-game-list {
    display: block;
    background: $text-color;
    padding: 50px;
    padding-top: 60px;
    position: fixed;
    z-index: 1;
    top: 65px;
    width: 100%;
    height: 100%;
    bottom: 0;
}

@keyframes translate-in {
    0% {
        transform: translateY(100%)
    }
    75% {
        transform: translateY(-3%)
    }
    100% {
        transform: translateY(0)
    }
}

.translate-enter-active {
    animation: 'translate-in' 0.6s ease-in-out 0s both;
}

.translate-leave-active {
    animation: 'translate-in'0.4s ease-in-out 0s both;
    animation-direction: reverse;
}

.c-game-list__title {
    font-size: 32px;
    color: $color-white;
    margin-top: 0
}

.c-game {
    display: inline-block;
    border: 4px solid $color-green;
    background-color: #E1E8E1;

    padding-bottom: 20px;
    width: 400px;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .22),
    0 25px 55px 0 rgba(0, 0, 0, .21);
}

.c-game__img {
    width: 100%;
}

.c-game__name {
    font-size: 24px;
    margin: 0;
}

.c-game__price {
    font-size: 18px;
    margin: 0;
}

.c-game__actions {
    margin-top: 10px;
}
.c-game__buy {
    &:hover {
        box-shadow: inset 0 -3px 0 rgba(57, 57, 57, .15),
        3px 3px 5px rgba(0, 0, 0, .2),
        0 0 20px $color-green;
    }
}

.c-game__add {
    background: #9EE3DE;
    &:hover {
      box-shadow: inset 0 -3px 0 rgba(57, 57, 57, .15),
      3px 3px 5px rgba(0, 0, 0, .2),
      0 0 20px #9EE3DE;

    }

}

.c-game-list__close {
    fill: #ffffff;
    width: 50px;
    position: absolute;
    right: 5%;
    top: 30px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}