@keyframes searchclose {
  50% {
    border-top: 21px solid $color-red;
    border-bottom: 21px solid $color-red;
  }
  100% {
    border-top: 2px solid $color-red;
    border-bottom: 2px solid $color-red;
  }
}

.c-search-box {
  position: relative;
  width: 600px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 0 auto;

  select {
    display: none;
  }
}

.c-search-box__body {
  position: relative;
  width: 100%;


  &.change {
    .c-search-box__border {
      animation: searchclose;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      z-index: 2;
      border-radius: 0px;
    }
  }
}

.c-search-box__input {
  padding: 10px 40px 10px 20px;
  outline: none;
  border: 2px solid $color-red;
  width: 100%;
  background: $color-white;
  font-weight: 600;
  line-height: 20px;
  z-index: 1;
}

.c-search-box__icon {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  outline: none;
        fill: #777777;


  &:hover {
    fill: $text-color;
  }

  > svg {
      width: 20px;
      height: 20px;
  }
}



.c-search-box__border {
  position: absolute;
  height: 44px;
  width: 100%;
  top: 0;
  border: 2px solid $color-red;
  z-index: -1;
  transition: border 300ms ease;
}

.c-search-box__submit {
  padding: 5px 5px;
  background: $color-green;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;
  box-shadow: #777777 1px 1px 6px;
}

.c-search-box__button {
  height: 20px;
}

.c-search-box__platforms {
  user-select: none;
  margin-top: 10px;
  >svg {
    height: 30px;
    >path {
      fill: #777777;
    }
  }
}

.c-search-box__select.c-select {
  height: 44px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  background-color: $color-red;
  width: 130px;
  position: relative;
  &.open {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    .c-select__dropdown {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
      transform: translateY(0%);
      visibility: visible;
      opacity: 1;
      z-index: 1;
      transition-delay: 0s, 0s, 0.3s;
    }
  }
  .c-select__current {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
      fill: #f3f3f3;
    }
  }
  p {
    margin: 0;
    user-select: none;
  }
  .c-select__dropdown {
    position: absolute;
    background: $color-white;
    height: auto;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.4s, z-index 0s linear 0s;
    transform: translateY(-2em);
    cursor: pointer;

    li {
      padding: 10px;
      user-select: none;
    }
  }
}

.c-search-box__list {
  position: absolute;
  font-size: 20px;
  width: 100%;
  text-align: left;


  ul {
  margin: 0px 2px 0px 2px;
  background: $color-white;
  padding: 4px 20px;
  max-height: 300px;
  overflow: scroll;

    
    li {
      border-bottom: 1px solid #777777;
    }
  }
}