.c-nav {
    background: transparent;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-nav__logo {
    margin-left: 40px;
    font-size: 24px;
    font-weight: 800;
    transition: transform 0.4s ease-in-out 0.2s;

    &.hide {
        transform: translateY(-100px);
        transition: transform 0.4s ease-in-out;
    }
}

.c-nav__buttons {
    padding: 10px 30px 10px 10px;
    display: flex;
        align-items: center;

    
}

.c-nav__btn {
    border: none;
    background: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: $color-red;
    fill: $color-red;
    padding: 8px 16px;
    outline: none;
    cursor: pointer;
    background: $color-white;
}

.c-nav__sep {
    width: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    fill: $color-red;
    margin-right: -10px;

    
    >svg {
        transform: scale(1, 1.35);
        width: 80px;        
    }
}

