$weight: 100;
@for $i from 1 through length($fonts) {
    $style: normal;
    $source: nth($fonts, $i);
    @font-face {
        font-family: "Monsterrat";
        font-style: if($i%2==1, normal, italic);
        font-weight: $weight;
        src: url("../fonts/#{$source}.ttf") format('truetype');
    }
    @if $i%2==0 {
        $weight: $weight + 100;
    }
}