$font-size-base: 16px !default;
$line-height-base: 1.5 !default;

$fonts: ("Montserrat-Thin", "Montserrat-ThinItalic", "Montserrat-Light", "Montserrat-LightItalic", "Montserrat-ExtraLight", "Montserrat-ExtraLightItalic", "Montserrat-Regular", "Montserrat-Italic", "Montserrat-Medium", "Montserrat-MediumItalic", "Montserrat-SemiBold", "Montserrat-SemiBoldItalic", "Montserrat-Bold", "Montserrat-BoldItalic", "Montserrat-ExtraBold", "Montserrat-ExtraBoldItalic", "Montserrat-Black", "Montserrat-BlackItalic");
