<template>
    <modal name="cart" height="auto" :width="800" :scrollable="true">
        <div class="c-cart-modal">
            <div slot="top-right">
                <button @click="$modal.hide('cart')">
                    ❌
                </button>
            </div>

            <div class="c-cart-modal__title">
                <h2>Giỏ Hàng</h2>
                <table class="o-table--bordered">
                    <tbody>
                        <tr v-for="item in cart" v-bind:key="item.GameID">
                            <td class="c-item__delete">
                                <icon-close />
                            </td>
                            <td>
                                <div class="c-item">
                                    <img class="c-item__img" height="60px" :src="item.HeaderImage">
                                    <div class="c-item__info">
                                        <div class="c-item__name">{{ item.Name }}</div>
                                        <div class="c-item__price">
                                            <span class="c-item__quantity">1</span>
                                            <span class="c-item__multi">x</span>
                                            <span class="c-item__price">200000</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="c-item__subtotal">200000</td>

                        </tr>
                    </tbody>
                </table>

                <h4>Tổng Tiền: 400000</h4>
                <div class="c-cart-modal__btn">
                    <span>Hoàn tất đơn hàng</span>
                    <span class="c-cart-modal__total">400.000 đ</span>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import IconClose from '../assets/img/close.svg'

export default {
  computed: {
    ...mapState('cart', ['cart'])
  },
  watch: {
    cart() {
      localStorage.setItem('cart', JSON.stringify(this.cart), {
        deep: true
      })
    }
  },
  methods: {
    ...mapActions('cart', ['UPDATE_CART_FROM_LOCAL'])
  },
  components: {
    IconClose
  },
  mounted() {
    if (JSON.parse(localStorage.getItem('cart'))) {
      console('Have')
    }
  }
}
</script>
