<template>
  <div class="c-game-list">
    <button class="c-game-list__close" @click="close()">
      <IconClose />
    </button>
    <h1 class="c-game-list__title">Kết quả:</h1>
    <div class="c-game" v-for="game in gameInfo" :key="game.GameID" v-if="game.GameIDRoot == 0">
      <img class="c-game__img" :src="game.HeaderImage">
      <h4 class="c-game__name">{{ game.Name }}</h4>
      <h5 class="c-game__price">240.000</h5>
      <div class=" c-game__actions" v-if="!alreadyInCart(game.GameID)">
        <button class="o-button c-game__buy">Mua Ngay</button>
        <button class="o-button c-game__add" @click="ADD_TO_CART(game)">Thêm Vào Giỏ Hàng</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import IconClose from '../assets/img/close.svg'

export default {
  computed: {
    ...mapState('game', ['gameInfo']),
    ...mapState('cart', ['cart'])
  },
  methods: {
    alreadyInCart(gameid) {
      for (let i = 0; i < this.cart.length; i++) {
        if (gameid === this.cart[i].GameID) {
          return true
        }
      }
      return false
    },
    ...mapMutations('game', [
      'CLEAR_GAME_INFO',
      'changeSearchKey',
      'CLEAR_GAME_LIST'
    ]),
    ...mapMutations('cart', ['ADD_TO_CART']),
    close() {
      this.CLEAR_GAME_LIST()
      this.CLEAR_GAME_INFO()

      this.$store.state.sharedRefs.search.focus()
    }
  },
  components: {
    IconClose
  }
}
</script>

