<template>
    <div class="c-hotgames">
        <!-- <div class="c-hotgames__title">
            Game Phổ Biến
        </div> -->
        <carousel :autoplay="true" :autoplayTimeout="6000" :autoplayHoverPause="true" :perPage="6" :loop="true" :paginationEnabled="false">
            <slide>
                <div class="c-hotgame">
                    <img class="c-hotgame__img" src="https://steamcdn-a.akamaihd.net/steam/apps/292030/header.jpg?t=1509077015">
                </div>
            </slide>
            <slide>
                <div class="c-hotgame">
                    <img class="c-hotgame__img" src="https://steamcdn-a.akamaihd.net/steam/apps/570940/header.jpg?t=1527116051">
                </div>
            </slide>
            <slide>
                <div class="c-hotgame">
                    <img class="c-hotgame__img" src="https://steamcdn-a.akamaihd.net/steam/apps/648800/header.jpg?t=1527104102">
                </div>
            </slide>
            <slide>
                <div class="c-hotgame">
                    <img class="c-hotgame__img" src="https://steamcdn-a.akamaihd.net/steam/apps/578080/header.jpg?t=1525138879">
                </div>
            </slide>
            <slide>
                <div class="c-hotgame">
                    <img class="c-hotgame__img" src="https://steamcdn-a.akamaihd.net/steam/apps/613100/header.jpg?t=1527008309">
                </div>
            </slide>
            <slide>
                <div class="c-hotgame">
                    <img class="c-hotgame__img" src="https://steamcdn-a.akamaihd.net/steam/apps/844810/header.jpg?t=1526993882">
                </div>
            </slide>
            <slide>
                <div class="c-hotgame">
                    <img class="c-hotgame__img" src="https://steamcdn-a.akamaihd.net/steam/apps/844810/header.jpg?t=1526993882">
                </div>
            </slide>
        </carousel>
    </div>
</template>


<script>
import { Carousel, Slide } from 'vue-carousel'

export default {
  components: {
    Carousel,
    Slide
  }
}
</script>
