<template>
    <nav class="c-nav">
        <div :class="['c-nav__logo', showLogo ? '' : 'hide']">
            Lazy Store
        </div>
        <div class="c-nav__buttons">
            <button class="c-nav__btn o-button">Đăng Nhập Qua Steam</button>
            <div class="c-nav__sep">
                <icon-sep/>
            </div>
            <button @click="showCart()" class="c-nav__btn o-button--rounded c-cart">
                <icon-cart class="c-cart__icon" />
                <span v-if="itemQuantity > 0" class="c-cart__badge">{{ itemQuantity }}</span>
            </button>
        </div>
    </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import IconCart from '../assets/img/cart.svg'
import IconSep from '../assets/img/closeThin.svg'

export default {
  computed: {
    ...mapGetters('cart', ['itemQuantity']),
    showLogo() {
      console.log(this.$store.state.game.gameInfo.length)
      return this.$store.state.game.gameInfo.length
    }
  },
  methods: {
    showCart() {
      this.$modal.show('cart')
    }
  },
  components: {
    IconCart,
    IconSep
  }
}
</script>
