<template>
  <div>
    <h2 class="c-search-box__title">TÌM KIẾM:</h2>

    <div :class="['c-search-box', isChanged ? 'change' : '']">
      <div class="c-search-box__type">
        <select v-model="isSearchByName">
          <option value="true">Theo Tên</option>
          <option value="false">Theo Link</option>
        </select>
        <div :class="['c-search-box__select c-select', isOpen ? 'open' : '']" @click="showSearch()">
          <div class="c-select__current" @click="selectType()">
            <p v-if="isSearchByName">Theo Tên</p>
            <p v-else>Theo Link</p>
            <IconAngleDown/>
          </div>
          <ul class="c-select__dropdown">
            <li @click="changeSearchType(), selectType()">
              <p v-if="isSearchByName">Theo Link</p>
              <p v-else>Theo Tên</p>
            </li>
          </ul>
        </div>
      </div>
      <div :class="['c-search-box__body', isChanged ? 'change' : '']">
        <div class="c-search-box__border"></div>
        <input @keyup.enter="LOAD_SEARCH_LIST()" v-model="$store.state.game.searchKey" class="c-search-box__input" ref="search" :placeholder="[ isSearchByName ? 'The Witcher' : 'https://www.abcxyz.com/123456789']">
        <button class="c-search-box__icon">
          <icon-search/>
        </button>
        <div v-if="searchResults.length > 0" class="c-search-box__list">
          <ul>
            <li v-for="game in searchResults" v-bind:key="game.appid" @click="LOAD_GAME_INFO(game.appid)">
              {{ game.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="c-search-box__platforms">
        <IconOrigin/>
        <IconSteam/>
        <IconBattleNet/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import IconOrigin from '../assets/img/Origin.svg'
import IconSteam from '../assets/img/Steam.svg'
import IconBattleNet from '../assets/img/Battlenet.svg'
import IconAngleDown from '../assets/img/angle-down.svg'
import IconSearch from '../assets/img/search.svg'

const svgComponents = {
  IconOrigin,
  IconSteam,
  IconBattleNet,
  IconAngleDown,
  IconSearch
}

export default {
  data() {
    return {
      isChanged: false,
      searchShow: false,
      isOpen: false
    }
  },
  mounted() {
    this.$store.commit('addRef', this.$refs)
  },
  computed: {
    isSearchByName: {
      get() {
        return this.$store.state.game.searchByName
      },
      set() {
        this.changeSearchType()
      }
    },
    ...mapState({
      searchResults: state => state.game.gameList,
      gameInfo: state => state.game.gameInfo
    })
  },
  watch: {
    isSearchByName() {
      this.isChanged = true
      setTimeout(() => {
        this.isChanged = false
      }, 500)
      this.$refs.search.focus()
    }
  },
  methods: {
    ...mapActions('game', ['LOAD_SEARCH_LIST', 'LOAD_GAME_INFO']),
    ...mapMutations('game', ['changeSearchType']),
    showSearch() {
      this.searchShow = !this.searchShow
    },
    selectType() {
      this.isOpen = !this.isOpen
    }
  },
  components: {
    ...svgComponents
  }
}
</script>
