<template>
  <div id="app">
    <Navbar/>
    <h1>Lazy Store</h1>
    <SearchBox/>
    <transition name="translate">
      <GameList v-show="$store.state.game.gameInfo.length > 0" />
    </transition>
    <HotGames/>
    <cart-modal/>
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import SearchBox from './components/SearchBox'
import GameList from './components/GameList'
import HotGames from './components/HotGames'
import CartModal from './components/CartModal'

import './assets/css/main.scss'

export default {
  name: 'App',
  components: {
    Navbar,
    SearchBox,
    GameList,
    HotGames,
    CartModal
  }
}
</script>

<style lang="scss">
#app {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1 {
  font-size: 60px;
}
</style>
